<style>
  .colorfilter2 {
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: left;
    margin: 0px 6px 6px 0px;
    display: inline-grid;
}
  li.sizes2 {
    display: inline-block;
    padding-bottom: 20px;
}
  
.colorfilter2 .colorContainer2 {
    border-radius: 4px;
}
  
  .size2 {
    display: inline-block;
    float: left;
    list-style: none;
    background: #eee;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 2px 2px 0px;
    cursor: pointer;
}
</style>
<nav class="nav-new">
  <ul class="list">
    <li>
      <a href="javascript:void(0)" class="title">COLLECTIONS</a>
      <ul>        
        <li>
          <a href="{{collection.url}}/emerge+womens">EMERGE</a>
        </li> 
        <li>
          <a href="{{collection.url}}/shine+womens">SHINE</a>
        </li>        
        <li>
          <a href="{{collection.url}}/train-n-run+womens">TRAIN-N-RUN</a>
        </li>        
        <li>
          <a href="{{collection.url}}/revive+womens">REVIVE</a>
        </li>
        <li>
          <a href="{{collection.url}}/ease+womens">EASE</a>
        </li>
        <li>
          <a href="{{collection.url}}/chromatic+womens">CHROMATIC</a>
        </li>
        <li>
        <a href="{{collection.url}}/collegiate+womens">COLLEGIATE</a>
        </li>
        <li>
          <a href="{{collection.url}}/hyper-onyx+womens">HYPER-ONYX</a>
        </li>
        <li>
          <a href="{{collection.url}}/electric+womens">ELECTRIC</a>
        </li>
        <li>
          <a href="{{collection.url}}/airfit+womens">AIRFIT</a>

        </li>
        <li>
          <a href="{{collection.url}}/camo+womens">CAMO</a>
        </li>
        <li>
          <a href="{{collection.url}}/eclipse+womens">ECLIPSE</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="title">STYLES</a>
      <ul>
        <li>
          <a href="{{collection.url}}/bottoms+womens">BOTTOMS</a>

        </li>
        <li>
          <a href="{{collection.url}}/shorts+womens">SHORTS</a>
        </li>
        <li>
          <a href="{{collection.url}}/joggers-pants+womens">JOGGERS &amp; PANTS</a>

        </li>
        <li>
          <a href="{{collection.url}}/leggings-tights+womens">LEGGINGS &amp; TIGHTS</a>

        </li>
        <li>
          <a href="{{collection.url}}/capris-crops+womens">CAPRIS &amp; CROPS</a>

        </li>
        <li>
          <a href="{{collection.url}}/tops+womens">TOPS</a>

        </li>
        <li>
          <a href="{{collection.url}}/hoodies-sweatshirts-jackets+womens">HOODIES-SWEATSHIRTS &amp; JACKETS</a>

        </li>
        <li>
          <a href="{{collection.url}}/tank-tops-sleeveless+womens">TANK TOPS &amp; SLEEVELESS</a>

        </li>
        <li>
          <a href="{{collection.url}}/sports-bras+womens">SPORTS BRAS</a>

        </li>
        <li>
          <a href="{{collection.url}}/crop-tops+womens">CROP TOPS</a>

        </li>
        <li>
          <a href="{{collection.url}}/long-sleeves+womens">LONG SLEEVES</a>

        </li>
        <li>
          <a href="{{collection.url}}/short-sleeves+womens">SHORT SLEEVES</a>

        </li>
      </ul>
    </li>
    <li class="sizes2">
      <a href="javascript:void(0)" class="filtercategory">SIZE</a>
      <div class="sizes2">
        <a href="{{collection.url}}/in-stock-xsmall" class="sizefilter2" data-size="xsmall">
          <div class="size2" data-size-select="xsmall">
            XS
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-small" class="sizefilter2" data-size="small">
          <div class="size2" data-size-select="small">
            S                            
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-medium" class="sizefilter2" data-size="medium">
          <div class="size2" data-size-select="medium">
            M
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-large" class="sizefilter2" data-size="large">
          <div class="size2" data-size-select="large">
            L
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-xlarge" class="sizefilter2" data-size="xlarge">
          <div class="size2" data-size-select="xlarge">
            XL
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-2xlarge" class="sizefilter2" data-size="2xlarge">
          <div class="size2" data-size-select="2xlarge">
            2XL
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-3xlarge" class="sizefilter2" data-size="3xlarge">
          <div class="size2" data-size-select="3xlarge">
            3XL
          </div>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker2">
          <div class="colorList2">
            <a href="{{collection.url}}/black" class="colorfilter2" data-color="black"><div title="#FF6900" class="colorContainer2" style="background: rgb(0, 0, 0);"></div></a>
            <a href="{{collection.url}}/white" class="colorfilter2" data-color="white"><div title="#FF6900" class="colorContainer2" style="border: 1px solid black;"></div></a>
            <a href="{{collection.url}}/gray" class="colorfilter2" data-color="gray"><div title="#FF6900" class="colorContainer2" style="background: rgb(128, 128, 128)"></div></a>
            <a href="{{collection.url}}/blue" class="colorfilter2" data-color="blue"><div title="#FF6900" class="colorContainer2" style="background: rgb(1, 0, 205);"></div></a>
            <a href="{{collection.url}}/red" class="colorfilter2" data-color="red"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 0, 0);"></div></a>
            <a href="{{collection.url}}/green" class="colorfilter2" data-color="green"><div title="#FF6900" class="colorContainer2" style="background: rgb(0, 128, 0)"></div></a>
            <a href="{{collection.url}}/yellow" class="colorfilter2" data-color="yellow"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 255, 2)"></div></a>
            <a href="{{collection.url}}/purple" class="colorfilter2" data-color="purple"><div title="#FF6900" class="colorContainer2" style="background: rgb(148, 0, 211)"></div></a>
            <a href="{{collection.url}}/brown" class="colorfilter2" data-color="brown"><div title="#FF6900" class="colorContainer2" style="background: rgb(140, 69, 20)"></div></a>
            <a href="{{collection.url}}/orange" class="colorfilter2" data-color="orange"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 153, 0)"></div></a>
            <a href="{{collection.url}}/pink" class="colorfilter2" data-color="orange"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 105, 181)"></div></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>