<style>
  .colorfilter2 {
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: left;
    margin: 0px 6px 6px 0px;
    display: inline-grid;
}
  li.sizes2 {
    display: inline-block;
    padding-bottom: 20px;
}
  
.colorfilter2 .colorContainer2 {
    border-radius: 4px;
}
  
  .size2 {
    display: inline-block;
    float: left;
    list-style: none;
    background: #eee;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 2px 2px 0px;
    cursor: pointer;
}
</style>
<nav class="nav-new">
  <ul class="list">
    <li>
      <a href="javascript:void(0)" class="filtercategory">SHOP BY GENDER</a>
      <ul>
        <li>
          <a href="{{collection.url}}/mens">MEN</a>
        </li>
        <li>
          <a href="{{collection.url}}/womens">WOMEN</a>
        </li>        
      </ul>
    </li>
        <li>
      <a href="javascript:void(0)" class="filtercategory">MEN STYLES</a>
      <ul>
        <li>
          <a href="{{collection.url}}/mens">MEN ALL PRODUCTS</a>
        </li>
        <li>
          <a href="{{collection.url}}/new-releases+mens">MEN NEW RELEASES</a>
        </li>        
        <li>
          <a href="{{collection.url}}/best-sellers+mens">MEN BEST SELLERS</a>
        </li>
      </ul>
    </li>
            <li>
      <a href="javascript:void(0)" class="filtercategory">WOMEN STYLES</a>
      <ul>
        <li>
          <a href="{{collection.url}}/womens">WOMEN ALL PRODUCTS</a>
        </li>
        <li>
          <a href="{{collection.url}}/new-releases+womens">WOMEN NEW RELEASES</a>
        </li>        
        <li>
          <a href="{{collection.url}}/best-sellers+womens">WOMEN BEST SELLERS</a>
        </li>
      </ul>
    </li>
            <li>
      <a href="javascript:void(0)" class="filtercategory">MEN CATEGORIES</a>
      <ul>
        <li>
          <a href="{{collection.url}}/bottoms+mens">MEN BOTTOMS</a>
        </li>
        <li>
          <a href="{{collection.url}}/tops+mens">MEN TOPS</a>
        </li>        
        <li>
          <a href="{{collection.url}}/shorts+mens">MEN SHORTS</a>
        </li>
      </ul>
    </li>
                <li>
      <a href="javascript:void(0)" class="filtercategory">WOMEN CATEGORIES</a>
      <ul>
        <li>
          <a href="{{collection.url}}/bottoms+womens">WOMEN BOTTOMS</a>
        </li>
        <li>
          <a href="{{collection.url}}/tops+womens">WOMEN TOPS</a>
        </li>        
        <li>
          <a href="{{collection.url}}/shorts+womens">WOMEN SHORTS</a>
        </li>
      </ul>
    </li>

    <li class="sizes2">
      <a href="javascript:void(0)" class="filtercategory">SIZE</a>
      <div class="sizes2">
        <a href="{{collection.url}}/in-stock-xsmall" class="sizefilter2" data-size="xsmall">
          <div class="size2" data-size-select="xsmall">
            XS
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-small" class="sizefilter2" data-size="small">
          <div class="size2" data-size-select="small">
            S                            
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-medium" class="sizefilter2" data-size="medium">
          <div class="size2" data-size-select="medium">
            M
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-large" class="sizefilter2" data-size="large">
          <div class="size2" data-size-select="large">
            L
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-xlarge" class="sizefilter2" data-size="xlarge">
          <div class="size2" data-size-select="xlarge">
            XL
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-2xlarge" class="sizefilter2" data-size="2xlarge">
          <div class="size2" data-size-select="2xlarge">
            2XL
          </div>
        </a>
        <a href="{{collection.url}}/in-stock-3xlarge" class="sizefilter2" data-size="3xlarge">
          <div class="size2" data-size-select="3xlarge">
            3XL
          </div>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker2">
          <div class="colorList2">
            <a href="{{collection.url}}/black" class="colorfilter2" data-color="black"><div title="#FF6900" class="colorContainer2" style="background: rgb(0, 0, 0);"></div></a>
            <a href="{{collection.url}}/white" class="colorfilter2" data-color="white"><div title="#FF6900" class="colorContainer2" style="border: 1px solid black;"></div></a>
            <a href="{{collection.url}}/gray" class="colorfilter2" data-color="gray"><div title="#FF6900" class="colorContainer2" style="background: rgb(128, 128, 128)"></div></a>
            <a href="{{collection.url}}/blue" class="colorfilter2" data-color="blue"><div title="#FF6900" class="colorContainer2" style="background: rgb(1, 0, 205);"></div></a>
            <a href="{{collection.url}}/red" class="colorfilter2" data-color="red"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 0, 0);"></div></a>
            <a href="{{collection.url}}/green" class="colorfilter2" data-color="green"><div title="#FF6900" class="colorContainer2" style="background: rgb(0, 128, 0)"></div></a>
            <a href="{{collection.url}}/yellow" class="colorfilter2" data-color="yellow"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 255, 2)"></div></a>
            <a href="{{collection.url}}/purple" class="colorfilter2" data-color="purple"><div title="#FF6900" class="colorContainer2" style="background: rgb(148, 0, 211)"></div></a>
            <a href="{{collection.url}}/brown" class="colorfilter2" data-color="brown"><div title="#FF6900" class="colorContainer2" style="background: rgb(140, 69, 20)"></div></a>
            <a href="{{collection.url}}/orange" class="colorfilter2" data-color="orange"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 153, 0)"></div></a>
            <a href="{{collection.url}}/pink" class="colorfilter2" data-color="orange"><div title="#FF6900" class="colorContainer2" style="background: rgb(255, 105, 181)"></div></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>