<style>
  .colorfilter2 {
    height: 30px;
    width: 30px;
    cursor: pointer;
    float: left;
    margin: 0px 6px 6px 0px;
    display: inline-grid;
}
  li.sizes2 {
    display: inline-block;
    padding-bottom: 20px;
}
  
.colorfilter2 .colorContainer2 {
    border-radius: 4px;
}
  
  .size2 {
    display: inline-block;
    float: left;
    list-style: none;
    background: #eee;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px 2px 2px 0px;
    cursor: pointer;
}
</style>
<nav class="nav-new">
  <ul class="list">
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLLECTIONS</a>
      <ul>
        <li>
          <a href="{{collection.url}}/air-flex+mens">Air-Flex</a>
        </li>
        <li>
          <a href="{{collection.url}}/tlf-train+mens">TLF Train</a>
        </li>        
        <li>
          <a href="{{collection.url}}/camo+mens">CAMO</a>
        </li>
        <li>
          <a href="{{collection.url}}/reps+mens">REPS</a>
        </li>
        <li>
          <a href="{{collection.url}}/collegiate+mens">COLLEGIATE</a>
        </li>
        <li>
          <a href="{{collection.url}}/swift+mens">SWIFT</a>
        </li>
        <li>
          <a href="{{collection.url}}/gravity+mens">GRAVITY</a>
        </li>
        <li>
          <a href="{{collection.url}}/core+mens">CORE</a>
        </li>
        <li>
          <a href="{{collection.url}}/graphix+mens">GRAPHIX</a>
        </li>
        <li>
          <a href="{{collection.url}}/home-workout-essentials+mens">HOME WORKOUT ESSENTIALS</a>

        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">STYLES</a>
      <ul>
        <li>
          <a href="{{collection.url}}/bottoms+mens">BOTTOMS</a>

        </li>
        <li>
          <a href="{{collection.url}}/shorts+mens">SHORTS</a>
        </li>
        <li>
          <a href="{{collection.url}}/joggers-pants+mens">JOGGERS &amp; PANTS</a>
        </li>
        <li>
          <a href="{{collection.url}}/leggings-tights+mens">LEGGINGS &amp; TIGHTS</a>
        </li>        
        <li>
          <a href="{{collection.url}}/tops+mens">TOPS</a>
        </li>
        <li>
          <a href="{{collection.url}}/hoodies-sweatshirts-jackets+mens">HOODIES-SWEATSHIRTS &amp; JACKETS</a>
        </li>
        <li>
          <a href="{{collection.url}}/tank-tops-sleeveless+mens">TANK TOPS &amp; SLEEVELESS</a>
        </li>
        <li>
          <a href="{{collection.url}}/long-sleeves+mens">LONG SLEEVES</a>
        </li>
        <li>
          <a href="{{collection.url}}/short-sleeves+mens">SHORT SLEEVES</a>
        </li>
        <li>
          <a href="{{collection.url}}/graphic-t-shirts+mens">GRAPHIC T-SHIRTS</a>
        </li>
      </ul>
    </li>
    <li class="sizes">
      <a href="javascript:void(0)" class="filtercategory">SIZE</a>
      <div class="sizes">
        <a class="sizefilter" data-size="xsmall">
          <div class="size" data-size-select="xsmall">
            XS
          </div>
        </a>
        <a class="sizefilter" data-size="small">
          <div class="size" data-size-select="small">
            S                            
          </div>
        </a>
        <a class="sizefilter" data-size="medium">
          <div class="size" data-size-select="medium">
            M
          </div>
        </a>
        <a class="sizefilter" data-size="large">
          <div class="size" data-size-select="large">
            L
          </div>
        </a>
        <a class="sizefilter" data-size="xlarge">
          <div class="size" data-size-select="xlarge">
            XL
          </div>
        </a>
        <a class="sizefilter" data-size="2xlarge">
          <div class="size" data-size-select="2xlarge">
            2XL
          </div>
        </a>
        <a class="sizefilter" data-size="3xlarge">
          <div class="size" data-size-select="3xlarge">
            3XL
          </div>
        </a>
      </div>
    </li>
    <li>
      <a href="javascript:void(0)" class="filtercategory">COLOR</a>
      <div class="nav-cp">
        <div class="colorPicker">
          <div class="colorList">
            <a class="colorfilter" data-color="black"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 0, 0);"></div></a>
            <a class="colorfilter" data-color="white"><div title="#FF6900" class="colorContainer" style="border: 1px solid black;"></div></a>
            <a class="colorfilter" data-color="gray"><div title="#FF6900" class="colorContainer" style="background: rgb(128, 128, 128)"></div></a>
            <a class="colorfilter" data-color="blue"><div title="#FF6900" class="colorContainer" style="background: rgb(1, 0, 205);"></div></a>
            <a class="colorfilter" data-color="red"><div title="#FF6900" class="colorContainer" style="background: rgb(255, 0, 0);"></div></a>
            <a class="colorfilter" data-color="green"><div title="#FF6900" class="colorContainer" style="background: rgb(0, 128, 0)"></div></a>
            <a class="colorfilter" data-color="yellow"><div title="#FF6900" class="colorContainer" style="background: rgb(255, 255, 2)"></div></a>
            <a class="colorfilter" data-color="purple"><div title="#FF6900" class="colorContainer" style="background: rgb(148, 0, 211)"></div></a>
            <a class="colorfilter" data-color="brown"><div title="#FF6900" class="colorContainer" style="background: rgb(140, 69, 20)"></div></a>
            <a class="colorfilter" data-color="orange"><div title="#FF6900" class="colorContainer" style="background: rgb(255, 153, 0)"></div></a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</nav>