<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head><!-- GSSTART Infinite Scroll code start. Do not change --> {% if collection.all_products_count > 1 or product.id > 1 %} <script type="text/javascript" src="https://gravity-apps.com/shopify/js/shopify/infinitescroll3513.js?v=b7062d45ff61ba4871e45fccf4eb85ab"></script> {% endif %} <!-- nfinite Scroll code end. Do not change GSEND -->
<script>GSXMLHttpRequest = XMLHttpRequest;</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="format-detection" content="telephone=no">
  <meta name="google-site-verification" content="_VzUHXZYXJ5_hsbccp7f3p4wmq8SadT8iekLxaJralQ" />
  <meta name="geo.region" content="US-FL" />
  <meta name="geo.placename" content="Fort Lauderdale" />
  <meta name="geo.position" content="26.368306;-80.128932" />
  <meta name="ICBM" content="26.368306, -80.128932" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-57x57.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="60x60" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-60x60.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-72x72.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-76x76.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-114x114.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-120x120.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-144x144.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-152x152.png?16672348967371393278">
  <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.shopify.com/s/files/1/2665/0346/files/apple-icon-180x180.png?16672348967371393278">
  <link rel="icon" type="image/png" sizes="192x192"  href="https://cdn.shopify.com/s/files/1/2665/0346/files/android-icon-192x192.png?16672348967371393278">
  <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.shopify.com/s/files/1/2665/0346/files/favicon-32x32_b32906d7-4953-4b73-b193-1a5d133ddf83.png?16672348967371393278">
  <link rel="icon" type="image/png" sizes="96x96" href="https://cdn.shopify.com/s/files/1/2665/0346/files/favicon-96x96.png?16672348967371393278">
  <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.shopify.com/s/files/1/2665/0346/files/favicon-16x16_c677a58b-841a-40a1-ab5e-57c0fade6169.png?16672348967371393278">
  <link rel="manifest" href="https://cdn.shopify.com/s/files/1/2665/0346/files/manifest.json?16672348967371393278">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&display=swap" rel="stylesheet">
    <title>BRB, Working out</title>
  {% include 'hic-tag' %}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  {% include 'qikify-apps' %}

    <script src="{{ 'footer-language.min.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'vendor-scripts-v5.js' | asset_url | split: '?' | first }}" defer="defer"></script>

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {%- if template contains 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}
  
  
  
</head>
  
  
    <div id="PageContainer" class="page-container">
      <div class="transition-body">
        {% section 'header' %}
<div class="announcement 404">

  <section role="complementary" class="white-back links slick-initialized slick-slider" style="">
    <div aria-live="polite" class="slick-list draggable">
      <div class="slick-track" role="listbox" style="opacity: 1;">
        <p class="slick-slide" style="float: none;">FREE SHIPPING ON USA ORDERS OVER $75 &amp; INTL ORDERS OVER $100</p>
      </div>
    </div>
  </section>
</div>

        <main class="main-content" id="MainContent">
          {% comment %}
          {{ content_for_layout }}
          {% endcomment %}


          <div class="tlf-error-page-main-container">
            <div class="center">
            <ul>
            <li><img src="https://cdn.shopify.com/s/files/1/2665/0346/files/meats-404.png?v=1660313145"></li> 
            <li class="line-3">SORRY, THIS PAGE IS UNDER MAINTENANCE WHILE WE ARE GETTING OUR PUMP ON WITH MUSCLE MEATS. HIT UP OUR HOME PAGE INSTEAD.</li> 
            <a class="fourohfour-home" href="/">TLF Home</a>
              </ul>
            </div>

        </main>

        {% section 'footer' %}

      </div>
    </div>


    {% if settings.enable_currencies %}
    <span
          id="CurrencyData"
          class="hide"
          data-shop-currency="{{ shop.currency }}"
          data-default-currency="{{ settings.default_currency | default: shop.currency }}"
          data-format="{{ settings.currency_format | default: 'money_with_currency_format' }}"
          data-money-format="{{ shop.money_format | strip_html }}"
          data-money-currency-format="{{ shop.money_with_currency_format | strip_html }}">
    </span>
    {% endif %}
    
    <script src="{{ 'jquery.js' | asset_url }}"></script>
        
  
  <style>
    li.line-1 {
    font-size: 248px;
    font-weight: 100;
    line-height: 170px;
}
    li.line-2 {
    font-size: 105px;
    font-weight: 900;
    line-height: 75px;
}
li.line-3 {
    font-size: 18px;
    font-weight: 300;
  letter-spacing: 0;
    line-height: 27px;
    text-transform: uppercase;
    max-width: 500px;
    color: #868686 !important;
    margin: auto;
    padding-top: 0.45em;
    font-family: 'Poppins', sans-serif;
}
    #MainContent ul {
    margin: auto;
    font-family: 'Montserrat';
    padding-bottom: 20% !important;
}
    #MainContent ul li {
      color: #171717;
}
#MainContent .tlf-error-page-main-container {
    min-height: 750px;
}
#MainContent .tlf-error-page-main-container .center {
    display: block;
    margin: 0 auto;
}

a.fourohfour-home {
    margin-top: 2.5em !important;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 60px;
    background-color: #171717;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: fit-content;
    padding: 12px 24px;
    font-size: 12px;
    font-family: Poppins,sans-serif;
}
.tlf-error-page-main-container ul li {
    list-style-type: none;
  margin-bottom: .18em;
}

@media only screen and (min-width: 1090px) {
    .tlf-error-page-main-container {
        background:#fff;
        text-align: center;
        width: 100%;
      max-width: 750px;
        min-height: auto;
      margin: 0 auto;
        position: relative;
    }
  .main-content {
        min-height: 950px;
    margin-top: 6%;
}
}
    @media only screen and (max-width: 1089px) {
          #MainContent ul {
    padding-top: 19% !important;
}
    #MainContent .tlf-error-page-main-container .right {
      display: none;
    }
          .tlf-error-page-main-container {
    text-align: center;
}
      #MainContent {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
li.line-1 {
    font-size: 170px;
    line-height: 120px;
}
li.line-2 {
    font-size: 80px;
    line-height: 70px;
}
    li.line-3 {
    font-size: 16px;
    line-height: 22px;
    max-width: 300px;
    padding-top: 0.3em;
}
      #MainContent .tlf-error-page-main-container .left {
        position: relative;
}
      #MainContent .tlf-error-page-main-container {
    min-height: 600px;
}
}

    @media (min-width:400px) and (max-width:900px) {
.tlf-error-page-main-container img {
    max-width: 650px;
}
    
           @media only screen and (max-width: 500px) {
             .announcement.404 .slick-initialized .slick-slide {
    font-size: .7em;
             }
         #MainContent ul {
    padding-top: 18% !important;
}
       }

    
       @media only screen and (max-width: 360px) {
         a.fourohfour-home {
    margin-top: 2em;
}
         #MainContent ul {
    padding-top: 25% !important;
}
         #MainContent .tlf-error-page-main-container .left ul {
    padding: 15px;
}
         #MainContent .tlf-error-page-main-container {
    min-height: 400px;
         }
li.line-1 {
    font-size: calc(80px + 6 * ((100vw - 300px) / 880));
    line-height: .7em;
}
li.line-2 {
    font-size: calc(35px + 6 * ((100vw - 300px) / 880));
    line-height: .85em;
}
    li.line-3 {
    font-size: .7em;
    line-height: 1.8em;
      max-width: 240px;
}
       }
    
           @media only screen and (max-width: 170px) {
                      #MainContent .tlf-error-page-main-container {
    min-height: 330px;
         }
             a.fourohfour-home {
    display: inline-block;
    padding: 8% 20%;
    font-size: .6em;
}
li.line-1 {
    font-size: calc(47px + 6 * ((100vw - 300px) / 880));
    line-height: 1em;
}
li.line-2 {
    font-size: calc(25px + 6 * ((100vw - 300px) / 880));
    line-height: .9em;
}
       }


  </style>